// 背景颜色
@bg-dk1: rgb(28, 29, 34);
@bg-dk2: rgb(37, 39, 44);
@bg-dk3: rgb(19, 20, 22);
@bg-active: rgb(28, 29, 34);
@bg-scroller: rgba(128, 128, 128);
@bg-msg-recevie: rgb(37, 39, 44);
@bg-msg-send: rgb(189, 210, 182);


// 字体颜色
@text-white: rgb(255, 255, 255);
@text-dark: rgb(28, 29, 34);
@text-gray: #ffffff99;

// 边框颜色
@border-gray: rgb(55, 56, 59);
